<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste2Eat</title>
</head>

<body>
    {% extends 'base.html' %}


    {% block content %}
    <h3>WELCOME TO TASTE 2 EAT</h3>
    <div class="rows">
        {% for items in items %}
        <div class="cols">
            <div class="card" style="width: 18rem;">
                <img src="{{ items.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ items.name }}</h5>
                  <p class="card-text">₹{{ items.price }}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
        {% endfor %}
    {% endblock %}
</body>


</html>